.App {
  height: 100vh;
  max-width: 60rem;
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr;

  header.main {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: baseline;
    h1 {
      font-size: 1rem;
    }
    nav {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 1rem;
    }
  }
  main {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;
    width: 100%;
  }

  section {
    // outline: 1px solid blue;
    display: grid;
    place-content: flex-start;
    grid-template-columns: 1fr;
    width: 100%;
  }
}

pre {
  font-family: "SF Mono", monospace;
}
