.App {
  max-width: 60rem;
  width: 90vw;
  margin: 0 auto;

  header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: baseline;
    h1 {
      font-size: 1rem;
    }
  }
  nav {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
  }
}
